<div class="container" ng-if="!isCalling && !callInProgress">
    <div class="row">
        <div class="page_overlay">
            <div class="col s12 incoming_call">
                <div class="caller_photo">
                    <img ng-src="{{contactData.avatar}}" alt=""/>
                </div>
                <div class="cn yellow darken-2">{{contactData.fio}} вызывает</div>
                <div class="btns">
                    <a ng-click="answer()" class="confirm waves-effect waves-green">
                        <i class="material-icons">call</i>
                    </a>
                    <a ng-click="ignore()" class="end waves-effect waves-red">
                        <i class="material-icons ">call_end</i>
                    </a>
                    <a ng-click="goToDialog()" class="msg waves-effect waves-orange" >
                        <i class="material-icons">mail_outline</i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container" ng-if="isCalling && !callInProgress">
    <div class="row">
        <div class="page_overlay">
            <div class="col s12 av">
                <div class="caller_avatar bg1">
                    <img ng-src="{{contactData.avatar}}" alt=""/>
                </div>
            </div>
            <div class="col caller_name s12">
                Вызываем {{contactData.fio}}
            </div>
            <div class="button">
                <a ng-click="end()" class="btn btn-large red lighten-1 waves-effect waves-light call_action">Завершить</a>
            </div>
        </div>
    </div>
</div>


<div class="container" ng-if="callInProgress">
    <div class="row">
        <div class="page_overlay">
            <div class="col s12 incoming_call">
                <div class="caller_photo">
                    <img ng-src="{{contactData.avatar}}" alt=""/>
                </div>
                <div class="cn yellow darken-2">
                    Разговор с {{contactData.fio}}
                </div>
                <div class="btns dialup">
                    <a ng-click="toggleSpeaker()" class="voff waves-effect waves-green">
                        <i class="material-icons">volume_off</i>
                    </a>
                    <a ng-click="toggleMute()" class="mic_off waves-effect waves-red">
                        <i class="material-icons ">mic_off</i>
                    </a>
                    <a ng-click="goToDialog()" class="msg waves-effect waves-orange" >
                        <i class="material-icons">mail_outline</i>
                    </a>
                </div>
            </div>
            <div class="col caller_name mgt5 s12 ">
                {{call_timer}}
            </div>
            <div class="button" ng-if="callInProgress">
                <a ng-click="end()" class="btn btn-large red lighten-1 waves-effect waves-light call_action">Завершить</a>
            </div>
        </div>
    </div>
</div>


