<div class="container">
    <div class="row">
        <div class="page_overlay">
            <div class="col s12 av">
                <div class="caller_avatar bg1">
                    <img ng-src="{{userData.avatar}}" alt=""/>
                </div>
            </div>

            <div  ng-if="call_state==0" class="col caller_name s12">
                Вызываем {{userData.fio}} ...
            </div>
            <div  ng-if="call_state==1" class="col caller_name s12">
                Разговор  {{userData.fio}} ... ({{online_time}} сек.)
            </div>
            <div  ng-if="call_state==3" class="col caller_name s12">
                Разговор завершен {{userData.fio}} ... ({{online_time}} сек.)
            </div>
            <div class="button">
                <a ng-click="stopCall()"  ng-if="call_state != 3" class="btn btn-large red lighten-1 waves-effect waves-light call_action">
                    Завершить
                </a>
                <a ng-click="returnHome()"  ng-if="call_state == 3" class="btn btn-large red lighten-1 waves-effect waves-light call_action">
                    Вернуться в меню
                </a>
            </div>
        </div>
    </div>
</div>