<div class="container sc">
    <div class="row logo_mid">
        <div class="col s12">
            <a href="#contacts">
                <img src="img/success.png" alt=""/>
                <br/>
                <span class="center">Спасибо за регистрацию!</span>
            </a>
        </div>
    </div>

    <div class="row" style="margin-top: 40%;">
        <div class="col s12">
            <a href="#contacts" class="btn-large makereg waves-effect waves-teal yellow darken-2">Далее</a>
        </div>
    </div>

</div>