<nav class="yellow darken-2 z-depth-0">
    <div class="nav-wrapper">
        <a href="#" class="center pagename">Диалоги</a>

        <div id="slide-out" class="side-nav">
            <div class="head yellow darken-2">
                <div class="title">Click Life</div>
                <div class="subtitle">Какой то текст</div>
            </div>
            <ul>
                <li>
                    <a href="#!">
                        <i class="material-icons">contacts</i>
                        Контакты
                        <span class="badge">121</span>
                    </a>
                </li>
                <li>
                    <a href="#!">
                        <i class="material-icons">chat</i>
                        Диалоги
                        <span class="badge">2</span>
                    </a>
                </li>
                <li>
                    <a href="#!">
                        <i class="material-icons">group_work</i>
                        Групы
                        <span class="badge">33</span>
                    </a>
                </li>
                <li>
                    <a href="#!">
                        <i class="material-icons">credit_card</i>
                        Кошелек
                        <span class="badge clever">330</span>
                    </a>
                </li>
                <li>
                    <a href="#!">
                        <i class="material-icons">settings</i>
                        Настройки профиля
                        <span class="badge"></span>
                    </a>
                </li>
                <li>
                    <a href="#!">
                        <i class="material-icons">assignment</i>
                        Правила
                        <span class="badge"></span>
                    </a>
                </li>
                <li>
                    <a href="#!">
                        <i class="material-icons">exit_to_app</i>
                        Выход
                        <span class="badge"></span>
                    </a>
                </li>
            </ul>
        </div>
        <div id="slide-search" class="side-nav">
            <div class="head yellow darken-2">
                <div class="title">Click Life</div>
                <div class="subtitle">поиск</div>
            </div>
            <div class="col  center">
                <div class="input-field">
                    <input type="search" style="padding-left: 30px;" placeholder="Введите текст"/>
                </div>
            </div>
            <div class="center">
                <button class="waves-effect waves-light btn">Найти</button>
            </div>

        </div>
        <a href="#" data-activates="slide-out" class="button-collapse"><i class="icon-menu"></i></a>
        <a href="#" class="search_btn right button-collapse" data-activates="slide-search"><i
                class="icon-search"></i></a>
    </div>
</nav>

<div id="all_contacts" class="col s12">
    <ul class="collection" style="margin:0px;">
        <li class="collection-item avatar online" >

            <span class="title">Иван kетров</span>
            <p>Сообщение Сообщение Сообщение Сообщение Сообщение</p>
            <a href="#!" class="secondary-content group">час назад</a>
        </li>
        <li class="collection-item avatar online" >
            <img src="img/ava.png" alt="" class="circle">
            <span class="title">Иван vетров</span>
            <p>Сообщение Сообщение Сообщение Сообщение Сообщение</p>
            <a href="#!" class="secondary-content group">только что</a>
        </li>
        <li class="collection-item avatar offline" >
            <img src="img/ava.png" alt="" class="circle">
            <span class="title">Иван tетров</span>
            <p>Сообщение Сообщение Сообщение Сообщение Сообщение</p>
            <a href="#!" class="secondary-content group">13.05.2003</a>
        </li>
        <li class="collection-item avatar offline" >
            <img src="img/ava.png" alt="" class="circle">
            <span class="title">Иван wетров</span>
            <p>Сообщение Сообщение Сообщение Сообщение Сообщение</p>
            <a href="#!" class="secondary-content group">час назад</a>
        </li>
    </ul>
</div>

