<nav class="yellow darken-2 z-depth-0">
    <div class="nav-wrapper">
        <a href="#" class="center pagename">Настройки профиля</a>
        <ul id="nav-mobile" class="left">
            <li><a href="screen1.html" class="icon-back"></a></li>
        </ul>
    </div>
</nav>
<div class="row yellow darken-2">
    <div class="col s12 fu">
        <input type="file" class="photo_upload"/>
    </div>
</div>
<div class="container register_page">

    <div class="row register_form">
        <div class="input-field phone col s12">
            <label for="pphone">
                <i class="icon-phone"></i>
                Ваш телефон
            </label>
            <input type="text" id="pphone" />
        </div>
        <div class="input-field uname col s12">
            <label for="fio">
                <i class="icon-user"></i>
                ФИО
            </label>
            <input type="text"  id="fio"/>
        </div>
        <div class="input-field uemail col s12">
            <label for="uemail">
                <i class="icon-email"></i>
                Email
            </label>
            <input type="email" id="uemail" class="validate"/>
        </div>
        <div class="input-field password col s12">
            <label for="upasswd">
                <i class="icon-password"></i>
                Пароль
            </label>
            <input type="password" id="upasswd"/>
        </div>

        <div class="col s12" style="padding-top: 20px;"><a href="#" class="btn-large makereg waves-effect waves-teal yellow darken-2">Сохранить</a></div>
    </div>

</div>